.recordContainer{
    min-height: 100vh;
}
.cardContainer{
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
   box-shadow: #dad3d3 0px 0px 10px;
}

.line-color{
    background-color: #FB2576;
    color: #FB2576;
}

.dataContainer{
    display: flex;
    padding: 15px;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.record-label{
    font-size: large;
    font-weight: 600;
    color: #FB2576;
}

.date-label{
    padding-bottom: 15px;
}
.delete-records{
    padding: 10px;
    align-self: center;
    background-color: #1746A2;
    color: white;
    border: hidden;
    border-radius: 2px;
}

.delete-records:hover{
    cursor: pointer;
}
.record-heading{
    text-align: center;
}

.my-records-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.unavailable{
    font-size: xx-large;
    color: #FB2576;
    font-weight: 600;
    text-align: center;
}